nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: black;
    color: white;
}

nav-links {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.links {
    color: rgb(5, 118, 105);
    
}
.links:hover {
    color: rgb(3, 207, 183);
    
}